body {
  font: normal medium/1.4 sans-serif;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}​
.table-striped {
  font: normal medium/1.4 sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table-striped th, td {
  padding-left: 10px;
  text-align: left;
  border: 1px solid #ccc;
}
.table-striped tbody tr:nth-child(odd) {
  background: #eee;
}
